.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--wf-color-white);
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.serverBanner {
  padding: var(--wf-spacing-md);
}
